html{
    background-image: url('../img/sword.png');
}
.sword{
    height: 55px;
    width: 55px;
    margin-top: 235px;
    margin-left: 710px;
}
p{
    text-align: center;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: white;
}
.a{
    height: 55px;
    width: 55px;
}