html{
    background-image: url('../img/zombie.png');
}
p{
    text-align: center;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: white;
}
a{
    color: white;
}